* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    background-image: url(/images/background-body.jpg);
}

::-webkit-scrollbar{
    width:10px;
}
   
::-webkit-scrollbar-track{
    background:#dddddd;
}
   
::-webkit-scrollbar-thumb{
    background:#23b8ba
}

nav {
    width: 100%;
    height: 12vh;
    background: #000000;
    font-size: 20px;
    font-family: Ubuntu;
    font-weight: bolder;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 100;
    /* position: fixed; */
}

nav.sticky {
    box-shadow: 0px 5px 9px 0px rgba(50, 50, 50, 0.5);
    height: 10vh;
    opacity: 0.9;
    transition: 0.3s;
}

#buttonBackTop {
    opacity: 0;
}

#seta {
    width: 30px;
    height: 30px;
}

#buttonBackTop.buttonBackTopATT {
    position: fixed;
    display: flex;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.6);
    background: #23b8ba;
    transition: 0.4s;
    opacity: 1;
}

.button_header {
    color: #ffffff;
    letter-spacing: 1px;
}

.button_header:hover {
    color: #28e3f0;
    cursor: pointer;
}

.logo_header {
    position: relative;
    top: 35px;
    width: 26%;
}

h2 {
    font-family: Ubuntu;
}

.container {
    padding-top: 80px;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.bloco-1 {
    width: 100vw;
}

.conteudo-bloco-1 {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-video {
    width: 100%;
    height: 100%;
    z-index: -100;
}

.bloco-2 {
    width: 100vw;
    background: none;
    position: relative;
    top: -20%;
}

.conteudo-bloco-2 {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 85%;
    background: #23B8BA;
    border-radius: 0px 40px 0px 40px;
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.box {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

#modalidades {
    font-size: 20px;
    background: #000000;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 0px 20px 0px 20px;
    text-align: center;
    position: relative;
    top: -25px;
}

.box-logo {
    width: 400px;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 50px;
    margin-right: 50px;
    background: #ffffff;
    box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.8);
    border-radius: 20px;
}

#logo-box-conteudo{
    width: 90%;
}

.bloco-3 {
    background-image: url(/images/fundo_branco_lol.png);
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo-bloco-3 {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 30px;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

#cidades {
    font-size: 20px;
    background: #000000;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 100px;
    text-align: center;
    border-radius: 0px 20px 0px 20px;
}

.list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

.elements_list {
    background: #ffffff;
    color: #000000;
    width: 400px;
    height: 60px;
    margin: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Ubuntu;
    font-size: 30px;
    box-shadow: 0px 20px 18px 2px rgba(0,0,0,0.55);
}

.bloco-4 {
    width: 100vw; 
    background:#1F1E1E;
    display: flex;
    padding-top: 30px;
    align-items: center;
    justify-content: center;
}

.conteudo-bloco-4 {
    color: #ffffff;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

#patrocinadores {
    font-size: 20px;
    background: #000000;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    border-radius: 0px 20px 0px 20px;
}
.list_patrocinadores {
    width: 60%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
    list-style: none;
}

.elements_list_patrocinadores {
    width: 26%;
}

.img_patrocinador {
    width: 100%;
}

.bloco-5 {
    width: 100vw;
    background:#23B8BA;
    display: flex;
    align-items: center;
}

.conteudo-bloco-5 {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

.list_flexbar {
    display: flex;
    width: 10%;
}

.elements_listbar1 {
    list-style: none;
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.elements_listbar2 {
    list-style: none;
}

.link_bar {
    margin-left: 15px ;
    font-family: Ubuntu;
    color: #ffffff;
    text-decoration: none;
}

.imagem_bar1 {
    width: 15%;
}
.imagem_bar2 {
    width: 60%;
}
.footer_cije {
     width: 100vw;
     display: flex;
     align-items: center;
     justify-content: center;
     background: #000000;
}
.logo_footer {
    width: 50%;
    height: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.img_logo_footer {
    width: 25%;
}

@media (max-width: 1080px) {
    
    nav {
        width: 100%;
        height: 10vh;
        background: #000000;
        font-size:33px;
        font-family: Ubuntu;
        font-weight: bolder;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: space-around;
        z-index: 100;
    }

    .logo_header {
        width: 26%;
        top: 0;
        margin-left: 10px;
        margin-right: 10px;
    }

    .bloco-2 {
        top: -5%;
    }

    #modalidades {
        font-size: 40px;
        position: relative;
        top: -30px;
    }

    .box-logo {
        width: 700px;
        height: 680px;
        border-radius: 30px;
    }

    .bloco-3 {
        height: 1080px;
    }

    #cidades {
        font-size: 40px;
    }
    
    .elements_list {
        font-size: 50px;
        width: 700px;
        height: 100px;
    }
}