* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

::-webkit-scrollbar{
    width:10px;
}
   
::-webkit-scrollbar-track{
    background:#dddddd;
}
   
::-webkit-scrollbar-thumb{
    background:#23b8ba
}

nav {
    width: 100%;
    height: 12vh;
    background: #000000;
    font-size: 20px;
    font-family: Ubuntu;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* position: fixed; */
}

#buttonBackTop {
    opacity: 0;
}

#seta {
    width: 30px;
    height: 30px;
}

#buttonBackTop.buttonBackTopATT {
    position: fixed;
    display: flex;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.6);
    background: #23b8ba;
    transition: 0.4s;
    opacity: 1;
}

.button_header {
    color: #ffffff;
    letter-spacing: 1px;
}

.button_header:hover {
    color: #28e3f0;
    cursor: pointer;
}

.logo_header {
    position: relative;
    top: 35px;
    width: 26%;
}

.container {
    width: 100vw;
    height: 100vh;
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.fundo_geral {
    width: 100%;
}

.fundo_branco {
    width: 100%;
}

.cont_0 {
    position: absolute;
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    top:45%;
}

/* .video {
    
} */

.cont_1 {
    background: #23B8BA;
    width: 90vw;
    height: 500px;
    position:absolute;
    top: 950px;
    left: 60px;
    border-radius: 0px 90px 0px 90px;  
    box-shadow: 0px 25px 60px 20px rgba(0,0,0,0.85);
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.bloco_1 {
    background: #ffffff;
    width: 400px;
    height: 300px;
    border-radius: 30px;
    box-shadow: 0px 25px 60px 20px rgba(0,0,0,0.45);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.modalidade {
    background-color: #000000;
    color: #ffffff;
    font-family: Ubuntu;
    font-size: 22px;
    position: absolute;
    top: -40px;
    width: 350px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 0px 20px 0px 20px;
}

.logo_lol {
    width: 80%;
}

.logo_freefire {
    width: 80%;
}

.akali {
    position: absolute;
    width: 35%;
    left: -90px;
    top: 100px;
}

.macaco {
    position: absolute;
    width: 25%;
    right: -80px;
    top: 120px;
    transform: rotate(20deg);
}

.cont_2 {
    width: 1230px;
    height: 400px;
    position: absolute;
    top: 1600px;
    left: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.list {
    list-style: none;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

.elements_list {
    background: #ffffff;
    width: 400px;
    height: 60px;
    margin: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Ubuntu;
    font-size: 30px;
    box-shadow: 0px 20px 18px 2px rgba(0,0,0,0.55);
}

.cidades {
    background-color: #000000;
    color: #ffffff;
    font-family: Ubuntu;
    font-size: 22px;
    position: absolute;
    top: -40px;
    width: 470px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 0px 20px 0px 20px;
}

.cont_3 {
    background:#1F1E1E;
    width: 100%;
    height: 500px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    color: #ffffff;
    font-family: Ubuntu;
    top: -15px;
}

.list_patrocinadores {
    width: 60%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
    list-style: none;
    margin-top: -35px;
}

.elements_list_patrocinadores {
    width: 26%;
}

.img_patrocinador {
    width: 100%;
}

.text_patrocinadores {
    margin-top: -35px;
    font-size: 33px;
    letter-spacing: 2px;
}

.cont_4 {
    background: #23B8BA;
    width: 100%;
    height: 7%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: -15px;
}

/* .flexbox_cije {
    
} */

.list_flexbar1 {
    display: flex;
    width: 100px;
}

.list_flexbar2 {
    display: flex;
    width: 200px;
}

.elements_listbar1 {
    list-style: none;
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.elements_listbar2 {
    list-style: none;
    margin: 20px;
}

.link_bar {
    margin-left: 15px ;
    font-family: Ubuntu;
    color: #ffffff;
    text-decoration: none;
}

.imagem_bar1 {
    width: 18%;
}

.imagem_bar2 {
    width: 100%;
}

.footer_cije {
    background: #ffffff;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.logo_footer {
    width: 50%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.img_logo_footer {
    width: 25%;
}

@media (max-width: 1000px) {
    
    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        overflow-x: hidden;
    }
    
    nav {
        width: 100%;
        height: 12vh;
        background: #000000;
        font-size: 15px;
        font-family: Ubuntu;
        font-weight: bolder;
        display: flex;
        align-items: center;
        justify-content: space-around;
        /* position: fixed; */
    }

    .logo_header {
        position: relative;
        top: 0px;
        width: 26%;
        margin: 10px;
    }

    .cont_0 {
        position: absolute;
        width: 100%;
        height: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        top:15%;
    }

    iframe {
        width: 220px;
        height: 150px;
    }

    .cont_1 {
        background: #23B8BA;
        width: 90vw;
        height: 300px;
        position:absolute;
        display: flex;
        flex-flow: row wrap;
        top: 350px;
        left: 15px;
        border-radius: 0px 40px 0px 40px;  
        box-shadow: 0px 25px 60px 20px rgba(0,0,0,0.85);
        align-items: center;
        justify-content: space-around;
    
    }

    .bloco_1 {
        background: #ffffff;
        width: 200px;
        height: 100px;
        border-radius: 10px;
        box-shadow: 0px 15px 30px 10px rgba(0,0,0,0.45);
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .modalidade {
        background-color: #000000;
        color: #ffffff;
        font-family: Ubuntu;
        font-size: 14px;
        position: absolute;
        top: -20px;
        width: 200px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-radius: 0px 20px 0px 20px;
    }
    
    .logo_lol {
        width: 80%;
    }
    
    .logo_freefire {
        width: 80%;
    }
    
    .akali {
        position: absolute;
        width: 35%;
        left: -20px;
        top: 10px;
    }
    
    .macaco {
        position: absolute;
        width: 25%;
        right: -10px;
        top: 160px;
        transform: rotate(20deg);
    }
}